.submittedResponses {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	align-content: center;
	margin: 0 auto;
	margin-top: 5rem;
	color: black;
	background: var(--prim-bg-color);
	box-shadow: var(--box-shadow-md);
	max-width: 750px;
	width: 92%;
	border-radius: 8px;
}

.row {
	width: 100%;
	margin-bottom: 0.7rem;
}

.row .smallScreen,
.row .largeScreen {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
	width: 100%;
}

.row .smallScreen {
	display: none;
}

.colNames {
	display: grid;
	align-self: center;
	grid-template-columns: repeat(2, 1fr);
	width: 90%;
	justify-items: center;
	grid-auto-flow: column;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.colNames span,
.row span {
	text-align: center;
}

.subResponse {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0.3em 0;
}


.collapsible {
	margin: 3.3px;
	background-color: #fff;
	padding: 0.8rem;
}

.collapsibleContent {
	width: 100%;
	margin-bottom: 0.5em;
	background: var(--right-linear-gradient);
}


@media screen and (max-width: 430px) {
	.submittedResponses {
		width: 95%;
	}
	.subResponse,
	.colNames {
		width: 95%;
	}
	.row .largeScreen {
		display: none;
	}
	.row .smallScreen {
		display: grid;
	}
	.collapsible {
		padding: 0.4rem;
	}
}
