.paraAnswer {
	width: 95%;
	outline: none;
	font-family: 'Poppins', sans-serif;
	padding: 6px 7px;
	font-size: 16px;
	margin-top: 13px;
}


@media screen and (max-width: 400px) {
	.paraAnswer {
		width: 99%;
	}
}
