.paperWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4rem auto 2rem auto;
	border-radius: 1.5em;
	width: 97%;
}

.paper {
	margin-bottom: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--prim-bg-color);
	box-shadow: var(--box-shadow-md);
	width: 95%;
	max-width: 700px;
	margin: 0 auto;
	border-radius: 0.5em;
	padding: 1em;
}

