@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
	--prim-bg-color: rgb(255, 254, 254);
	--modal-bg-color: rgb(253,253,253);
	--box-shadow-lg: 0 1px 2px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07), 
		0 4px 8px rgba(0,0,0,0.07), 
		0 8px 16px rgba(0,0,0,0.07),
		0 16px 32px rgba(0,0,0,0.07), 
		0 32px 64px rgba(0,0,0,0.07);
	--box-shadow-md: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--left-linear-gradient: linear-gradient(to left, #7b0a08, crimson);
	--right-linear-gradient: linear-gradient(to right, rgb(226, 15, 57), #c31432,#560011);
	--radial-gradient-1: radial-gradient(#dd4e6d 0.85px, transparent 0.85px);
	--radial-gradient-2: radial-gradient(#dd4e6d 0.85px, #ffffff 0.85px);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 7px;
    height: 0px;
}

::-webkit-scrollbar-track{
   border-radius: 7px;
   background: transparent;
}

::-webkit-scrollbar-thumb{
   border-radius: 7px;
   background: hsla(0,0%,67.1%,.5);
}

body {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	background-image: var(--radial-gradient-1),var(--radial-gradient-2);
	background-size: 34px 34px;
	background-position: 0 0, 17px 17px;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

